* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#wish-main {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 20px 0px 20px 0px;
  background-color: rgb(250, 247, 247);
}

#wishHead {
  width: 90%;
  height: 200px;
  margin: auto;
  text-align: center;
  display: grid;
  padding-bottom: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#wishHead p {
  font-size: small;
}

#wishHead button {
  width: 100px;
  height: 40px;
  margin: auto;
  background-color: black;
  color: white;
  font-weight: bold;
  border: 0px;
  text-align: center;
}

#wishParentDiv {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

#wishlistProducts {
  width: 90%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-family: "Courier New", Courier, monospace;
}

.items {
  width: 100%;
  height: auto;
  display: grid;
  gap: 5px;
}

.items img {
  width: 100%;
  height: 350px;
}

.items1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
}
.items1 img {
  width: 17px;
  height: 17px;
}

.items {
  width: 100%;
  height: auto;
}

.items h3 {
  font-size: small;
  font-weight: bold;
  color: rgb(27, 27, 27);
}
.items h2 {
  font-size: medium;
  color: rgb(27, 27, 27);
}

.items b {
  font-size: small;
  color: rgb(32, 32, 32);
}

.items button {
  width: 50%;
  height: 30px;
  margin: auto;
  font-size: medium;
  text-align: center;
  border: none;
  background-color: black;
  color: white;
  border: none;
}

@media only screen and (max-width: 980px) {

  #wishlistProducts {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

  }

  .items img {
    width: 100%;
    height: 300px;
  }

  .items1 img {
    width: 15px;
    height: 15px;
  }

  .items h2 {
    font-size: small;
  }

  .items button {
    width: 60%;
    height: 25px;
    font-size: small;
  }
}

@media only screen and (max-width: 450px) {
  #wishParentDiv {
    width: 100%;
  }
  #wishlistProducts {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .items img {
    width: 100%;
    height: 240px;
  }

  .items1 img {
    width: 12px;
    height: 12px;
  }

  .items button {
    width: 70%;
    font-size: small;
  }
}
